<div class="container cstom-container">
    <div>
        <h3 class="mb-3 text-center">Lista de Repositorios</h3>
        <div class="col-mb-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Lenguaje de prorgamación</th>
                        <th scope="col">URL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let repo of ReposList">
                            <td>{{repo.id}}</td>
                            <td>{{repo.name}}</td>
                            <td>{{repo.description}}</td>
                            <td>{{repo.language}}</td>
                            <td><a href="{{repo.html_url}}">{{repo.html_url}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

